#contactPage {
  .liveArea {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .heading {
      grid-area: heading;
      color: $secondary-color;
    }

    .contact {
      grid-area: contact;
      padding: 50px 200px;

      display: grid;
      grid-template-columns: 75px auto;

      i {
        align-self: center;
        padding-bottom: 30px;
      }

      h3 {
        font-weight: 500;
      }
    }

    #map {
      grid-area: map;
      width: 100%;
      height: 400px;
    }

    grid-template-areas:
      "heading map"
      "contact map";
  }
}
