header {
  position: fixed;
  z-index: 2;
  width: 100%;

  #banner {
    display: grid;
    grid-template-columns: 200px auto 100px;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $primary-color;

    .logo {
      padding-top: 7px;
      padding-bottom: 0px;

      img {
        width: 150px;
      }
    }

    .contact {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 20px;
      justify-self: left;
      align-self: center;
      padding-left: 0px;

      .email,
      .phone,
      .address {
        display: flex;
        flex-direction: row;
        border-style: none;
        border-width: 2px;
        border-color: $secondary-color;
        border-radius: 15px;
        line-height: 1.5;
        padding: 10px 30px;
        align-items: center;
        justify-self: center;

        i {
          font-size: 20px;
        }

        h4 {
          margin: 0;
          padding-left: 10px;
          padding-top: 5px;
          font-weight: 600;
          font-size: 12px;
        }
      }

      .email {
        i {
          color: darken(lightblue, 30);
          margin-right: 5px;
        }
      }

      .phone {
        i {
          color: green;
        }
      }

      .address {
        i {
          color: orangered;
        }
      }
    }

    .lang {
      display: flex;
      align-self: center;
      padding-bottom: 5px;
      padding-left: 10px;

      a {
        text-decoration: none;
        color: $color-4;
        font-size: 15px;
        align-self: center;

        img {
          height: 20px;
        }
      }

      .verticalLine {
        margin: 0 6px 0 7px;
        width: 2px;
        height: 20px;
        background-color: $color-4;
      }
    }
  }

  .menuDesktop {
    background-color: $secondary-color;
    overflow: hidden;
    padding-left: 250px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    .menu-items {
      a {
        float: left;
        height: 100%;
        color: $primary-color;

        padding: 10px 30px 10px 30px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;

        border-style: solid;
        border-width: 0 1px 0 0px;
        border-color: darken($secondary-color, 10);

        &.first {
          border-style: solid;
          border-width: 0 1px 0 1px;
          border-color: darken($secondary-color, 10);
        }

        &:hover {
          background-color: darken($secondary-color, 10);
          @include easeOut();
        }
      }
    }
  }

  .menuMobile {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: $primary-color;

    .lang {
      position: fixed;
      display: flex;
      padding-bottom: 5px;
      left: 35px;
      top: 35px;

      a {
        text-decoration: none;
        color: $color-4;
        font-size: 15px;
      }

      .verticalLine {
        margin: 0 6px 0 7px;
        width: 2px;
        height: 25px;
        background-color: $color-4;
      }
    }

    .menuButton {
      position: absolute;
      z-index: 4;
      right: 10%;
      top: 35px;
      cursor: pointer;
      @include easeOut;

      .btnLine {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background-color: $secondary-color;
        @include easeOut;
      }

      &.close {
        transform: rotate(180deg);

        .btnLine {
          &:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translate(7px, -6px);
          }
        }
      }
    }

    .menuBanner {
      margin: 0;
      padding: 30px 0;
      justify-self: center;

      .logo {
        justify-self: center;
        img {
          width: 75px;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  .menuItems {
    display: none;

    &.show {
      display: grid !important;
      grid-template-columns: 1fr;
      padding: 10px 15%;
      padding-bottom: 50px;

      .item {
        width: 100%;
        border-style: solid;
        border-color: $secondary-color;
        border-width: 0 0 1px 0;
        justify-content: end;
        padding: 10px 0px;

        a {
          text-decoration: none;
          float: right;
          font-size: 18px;
          color: $secondary-color;
          font-weight: 600;
        }
      }
    }
  }
}
