// Widescreens
@include mediaXl {
  header {
    .menuMobile {
      display: none !important;
    }
  }
}

@include mediaSm {
  header {
    #banner {
      display: none !important;
    }

    .menuDesktop {
      display: none !important;
    }
  }

  main {
    width: 100% !important;
    margin-top: 80px;

    h1 {
      font-size: 1.75rem !important;
    }

    .topping {
      height: 20px !important;
    }

    #slide {
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 20px;
    }

    #intro {
      padding: 20px 10% !important;
      grid-template-columns: 1fr;
      grid-template-areas:
        "slogan"
        "card1"
        "card2"
        "card3" !important;
    }

    #products {
      padding: 20px 10% !important;
    }

    #company {
      padding: 20px 10% !important;
      grid-template-columns: 1fr;
      grid-column-gap: 0px !important;
      grid-template-areas:
        "heading"
        "info"
        "fields"
        "capacity" !important;

      .info {
        h2 {
          font-size: 1rem;
          padding-right: 0 !important;
        }
      }

      .headingSm {
      }

      .capacity {
        border-style: none !important;
        padding: 50px 0;

        .list {
          padding-left: 10%;
          padding-right: 10%;
        }
      }
    }

    #services {
      padding: 50px 10%;

      .list {
        grid-template-columns: repeat(2, 1fr 3fr) !important;

        h2 {
          font-size: 1rem;
        }

        i {
          font-size: 2rem;
        }
      }

      button {
        padding: 30px !important;

        a {
          padding: 10px 20px !important;
        }
      }
    }

    #contact {
      padding: 50px 10%;
      grid-template-columns: 1fr !important;

      .heading {
        padding-bottom: 20px;
      }
    }
  }

  footer {
    padding: 50px 15% 0 15% !important;
    grid-template-columns: 1fr !important;
    grid-template-areas:
      "contact"
      "logo"
      "about"
      "copyright" !important;

    .contact {
      padding-left: 0 !important;
    }

    .logo {
      img {
        width: 100%;
        justify-items: center;
      }
    }

    .about {
      padding-right: 0 !important;
    }
  }

  #about {
    .topping {
      height: 30vh;
    }

    .liveArea {
      grid-template-columns: 1fr;

      .nav {
        margin: 30px;

        width: 200px;
        height: auto;

        a {
          font-size: 0.75rem;
          padding: 10px;
        }
      }
    }

    #content {
      padding: 50px 10% !important;
      padding-top: 10px !important;

      &.company {
        padding-right: 20% !important;
      }

      &.policy {
        grid-template-columns: 1fr !important;

        .vision,
        .mission {
          border-style: none !important;
          padding: 0 20px !important;
        }
      }
    }
  }

  #quality {
    .quality {
      grid-template-columns: 1fr !important;
    }
  }

  #servicePage {
    .topping {
      height: 30vh;
    }

    .liveArea {
      grid-template-columns: 1fr !important;
      grid-template-areas:
        "heading"
        "services"
        "capacity"
        "mach" !important;

      .services {
        grid-template-columns: 1fr 1fr !important;
        grid-column-gap: 20px;
        padding: 20px 15% !important;

        .box {
          width: 100%;
          margin: 10px !important;

          h2 {
            padding: 10px 5px;
            text-align: center;
          }
        }
      }

      .capacity {
        border-style: none !important;
      }

      .mach {
        grid-template-columns: 1fr !important;

        img {
          width: 100% !important;
        }
      }
    }

    .products {
      .imgProduct {
        grid-template-columns: 1fr;

        img {
          width: 80%;
        }
      }
    }
  }

  #contactPage {
    .topping {
      height: 30vh;
    }

    .liveArea {
      .contact {
        padding: 50px 15% !important;
        grid-template-columns: 1fr 3fr !important;

        h2 {
          font-size: 1rem !important;
        }

        i {
          font-size: 1.75rem;
        }
      }

      grid-template-areas:
        "heading heading"
        "contact contact"
        "map map";
    }
  }
}
