#servicePage {
  .liveArea {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;

    .heading {
      grid-area: heading;

      h1 {
        color: $secondary-color;
        font-size: 2rem;
      }
    }

    .services {
      grid-area: services;
      padding: 50px 20%;
      padding-top: 00px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .box {
        color: $secondary-color;
        width: 110px;
        height: 110px;
        justify-self: center;
        align-self: center;
        border-style: solid;
        border-width: 2px;
        border-color: $secondary-color;
        border-radius: 20px;

        h2 {
          align-self: center;
          justify-self: center;
          padding: 5px 10px 5px 20px;
          font-weight: 500;
          font-size: 1rem;
        }
      }
    }

    .capacity {
      grid-area: capacity;
      padding-left: 50px;
      border-style: solid;
      border-width: 0 0 0 2px;
      border-color: $secondary-color;

      h2 {
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 10px;
      }

      .list {
        display: grid;
        grid-template-columns: 1fr 8fr;

        i {
          margin: 10px;
          font-size: 1.5rem;
        }

        h3 {
          margin: 15px;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }

    .mach {
      grid-area: mach;
      padding: 50px 5%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;

      img {
        width: 80%;
        padding: 30px;
      }
    }

    grid-template-areas:
      "heading capacity"
      "services capacity"
      "mach mach";

    &.products {
      grid-template-areas:
        "heading heading"
        "imgProduct imgProduct";
    }

    .imgProduct {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-left: 10%;
      padding-right: 0%;
      justify-items: center;

      img {
        width: 600px;
        padding: 30px 10px;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
